
body {
	background: url(home.jpg);
	background-size: cover;
}

.container {
	font: 25px time news rowman;
	width: 900px;
	margin-left: 200px;
	margin-top: 200px;
	background-color: whitesmoke;
}
